<div class="card mt-2 p-3">
    <img class="img-fluid rounded mb-3" src="/assets/images/femtologo.png" alt="Femto" style="max-height: 80px; width: auto;">

    <nav class="navbar navbar-expand-md bg-light shadow rounded p-4">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav gap-2">
                <li class="nav-item"><a routerLink="registerintern" class="btn btn-primary rounded-pill">Register Intern</a></li>
                <li class="nav-item"><a routerLink="interndetails" class="btn btn-primary rounded-pill">Intern Details</a></li>
                <li class="nav-item"><a routerLink="assigntask" class="btn btn-primary rounded-pill">Assign Task</a></li>
                <li class="nav-item"><a routerLink="pendingtask" class="btn btn-primary rounded-pill">Pending Task</a></li>
                <li class="nav-item"><a routerLink="taskreport" class="btn btn-primary rounded-pill">Task Report</a></li>
            </ul>
        </div>
    </nav>

    <div class="card mt-2 p-3">
        <h3 class="text-center mb-4">Intern Registration</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="row g-3">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Intern Name" [(ngModel)]="intern.name" name="name" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="password" placeholder="Password" [(ngModel)]="intern.password" name="password" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="email" placeholder="Email" [(ngModel)]="intern.email" name="email" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Domain" [(ngModel)]="intern.domain" name="domain" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" placeholder="Duration (in months)" [(ngModel)]="intern.duration" name="duration" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="date" [(ngModel)]="intern.startDate" name="startDate" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" placeholder="WhatsApp Number" [(ngModel)]="intern.whatsapp" name="whatsapp" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="College Name" [(ngModel)]="intern.college" name="college" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" placeholder="Passed Out Year" [(ngModel)]="intern.passedOutYear" name="passedOutYear" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Degree" [(ngModel)]="intern.degree" name="degree" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Department" [(ngModel)]="intern.department" name="department" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Mode of Internship" [(ngModel)]="intern.mode" name="mode" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Location" [(ngModel)]="intern.location" name="location" required>
                </div>
                <div class="col-md-6 text-center mt-4">
                    <button class="btn btn-success px-5" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
