 <div class="container-fluid">
    <div class="header">
        

    </div>
    <div class="card">
        <div class="d-flex gap-5 justify-content-center list-unstyled m-4"> 
            <button class="btn btn-warning rounded-pill"><a href="#" class=" text-white  text-decoration-none">RegisterIntern</a></button>
            <button><a href="#">InternDetails</a></button>
            <button><a href="#">AssignTask</a></button>
            <button><a href="#">PendingTask</a></button>
            <button><a href="#">TaskReport</a></button>
        </div>
        <div class="card ">
           
                <div class="row">
                    <div class="col-lg-5  "><input type="text"></div>
                    <div class="col-lg-5 offset-lg-1"><input type="text"></div>
                </div>
                <div class="row">
                    <div class="col-lg-5  "><input type="text"></div>
                    <div class="col-lg-5 offset-lg-1"><input type="text"></div>
                </div>
           
        </div>
    </div>
 </div>
