<div class="container-fluid mt-4">
<div class="container-fluid mt-4">
    <h4>Administrative Dashboard</h4>
    <div class="row mt-5">
        <div class="col-3">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <p class="card-text fs-4">123<i class="bi bi-people-fill offset-9"></i></p>
                    <h5 class="card-title">Total Students</h5>
                </div>
                <div class="card-footer bg-transparent align-items-center">
                    <a href="#" class="text-white text-decoration-none">More info<i class="bi bi-plus-circle-fill fs-5 offset-7 text-white"></i></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-success h-100">
                <div class="card-body">
                    <p class="card-text fs-4">45<i class="bi bi-people offset-9"></i></p>
                    <h5 class="card-title">Total Staff</h5>
                </div>
                <div class="card-footer bg-transparent align-items-center">
                    <a href="#" class="text-white text-decoration-none">More info<i class="bi bi-plus-circle-fill fs-5 offset-7 text-white"></i></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-dark bg-warning h-100">
                <div class="card-body">
                    <p class="card-text fs-4">10<i class="bi bi-journal-code offset-9"></i></p>
                    <h5 class="card-title">Total Courses</h5>
                </div>
                <div class="card-footer bg-transparent align-items-center">
                    <a href="#" class="text-dark text-decoration-none">More info<i class="bi bi-plus-circle-fill fs-5 offset-7 text-dark"></i></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-danger h-100">
                <div class="card-body">
                    <p class="card-text fs-4">50<i class="bi bi-pie-chart-fill offset-9"></i></p>
                    <h5 class="card-title">Total Subjects</h5>
                </div>
                <div class="card-footer bg-transparent align-items-center">
                    <a href="#" class="text-white text-decoration-none">More info<i class="bi bi-plus-circle-fill fs-5 offset-7 text-white"></i></a>
                </div>
            </div>
        </div>
</div>
