<div class="container mt-4">
    <h2 class="text-center">Upload Your Documents</h2>
    <form [formGroup]="fileupload" (ngSubmit)="onSubmit()">
       <div class="row">
        <div class="col-lg-5 offset-lg-3">
      <div class="mb-3">
        <label class="form-label">SSLC Marksheet</label>
        <input type="file" class="form-control" (change)="onFileChange($event, 'sslc')">
      </div>
    
      <div class="mb-3">
        <label class="form-label">HSC Marksheet</label>
        <input type="file" class="form-control" (change)="onFileChange($event, 'hsc')">
      </div>
      <div class="mb-3">
        <label class="form-label">Provisional Certificate</label>
        <input type="file" class="form-control" (change)="onFileChange($event, 'provisional')">
      </div>
      <div class="mb-3">
        <label class="form-label">Aadhar Card</label>
        <input type="file" class="form-control" (change)="onFileChange($event, 'aadhar')">
      </div>
      <div class="mb-3">
        <label class="form-label">Photo</label>
        <input type="file" class="form-control" (change)="onFileChange($event, 'photo')">
      </div>
      <div class="mb-3">
        <label class="form-label">Resume</label>
        <input type="file" class="form-control" (change)="onFileChange($event, 'resume')">
      </div>
      <button class="btn btn-success" type="submit">Upload</button>
    </div>
    </div>
    </form>
  </div>
  