<div class="row bg-info">
    <div class="col-md-4 p-5">
     <h1>OFFICE ADDRESS</h1>
     <ul class=" list-unstyled mt-3">
       <li><i class="bi bi-geo-alt"></i>  No. 17, Griffith Main Road, Essa Pallavaram, Chennai - 43</li>
       <li><i class="bi bi-telephone"></i>  +91-9884668421</li>
       <li><i class="bi bi-clock"></i>  Open Hours: Mon – Sat: 10:00 am – 7:00 pm,
        Sunday: CLOSED</li>
     </ul>
    </div>
    <div class="col-md-4 p-5">
        <h1>INTERNSHIP</h1>
        <ul class="list-unstyled mt-3">
            <li><i class="bi bi-check-circle"></i> SEO & Digital Marketing</li>
            <li><i class="bi bi-check-circle"></i> MBA HR, Finance</li>
            <li><i class="bi bi-check-circle"></i> MBA Logistics, Marketing, Systems</li>
            <li><i class="bi bi-check-circle"></i> Data Science, AI</li>
            <li><i class="bi bi-check-circle"></i> Java Fullstack</li>
            <li><i class="bi bi-check-circle"></i> Python Fullstack</li>
            <li><i class="bi bi-check-circle"></i> Web Development</li>
            <li><i class="bi bi-check-circle"></i> Mobile App Development</li>
            <li><i class="bi bi-check-circle"></i> Software Testing</li>
        </ul>
    </div>
    <div class="col-md-4 p-5">
        <h1>HOW TO APPLY</h1>
        <ul class=" list-unstyled mt-3">
            <li><i class="bi bi-hourglass-split"></i> Limited Seats –<a href="#">APPLY NOW !</a></li>
            <li><i class="bi bi-telephone"></i> Contact: 9884668421 | hr&#64;femtosoft.in</li>
            <li><i class="bi bi-lightbulb"></i> Know someone interested? Forward this message and help them start their career!</li>
        </ul>
 
 
    </div>
</div>
<div class="copyright">
    <P class="text-center">Copyright  <i class="bi bi-c-circle"></i>  2025 Femtosoft Technologies . All Rights Reserved.</P>
</div>
