<div class="container-fluid">
    <img class="img-fluid rounded"
    src="/assets/images/femtologo.png"
    alt="Femto"
    style="max-height: 80px; width: auto;">
    <div id="header" class="card d-flex flex-wrap flex-md-nowrap align-items-center justify-content-between p-3">
        
        <!-- Logo -->
       

        <!-- Button Group -->
        <div class="d-flex flex-wrap gap-2 justify-content-center justify-content-md-end mt-2 mt-md-0">
            <a href="registerintern">
                <button class="btn btn-warning rounded-pill text-white">Register Intern</button>
            </a>
            <a href="interndetails">
                <button class="btn btn-warning rounded-pill text-white">Intern Details</button>
            </a>
            <a href="assigntask">
                <button class="btn btn-warning rounded-pill text-white">Assign Task</button>
            </a>
            <a href="pendingtask">
                <button class="btn btn-warning rounded-pill text-white">Pending Task</button>
            </a>
            <a href="taskreport">
                <button class="btn btn-warning rounded-pill text-white">Task Report</button>
            </a>
        </div>

    </div>
</div>
