<div class="container-fluid">
    <img class="img-fluid rounded" src="/assets/images/femtologo.png" alt="Femto"
        style="max-height: 80px; width: auto;">
    <div id="header" class="card d-flex flex-wrap flex-md-nowrap align-items-center justify-content-between p-3">


        <div class="d-flex flex-wrap gap-2 justify-content-center justify-content-md-end mt-2 mt-md-0">
            <a href="registerintern">
                <button class="btn btn-warning rounded-pill text-white">Register Intern</button>
            </a>
            <a href="interndetails">
                <button class="btn btn-warning rounded-pill text-white">Intern Details</button>
            </a>
            <a href="assigntask">
                <button class="btn btn-warning rounded-pill text-white">Assign Task</button>
            </a>
            <a href="pendingtask">
                <button class="btn btn-warning rounded-pill text-white">Pending Task</button>
            </a>
            <a href="taskreport">
                <button class="btn btn-warning rounded-pill text-white">Task Report</button>
            </a>
        </div>

    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-4 bg-muted p-5 m-4 rounded">
               
                <div class="d-flex justify-content-center gap-2 mb-2">
                    <label class="fw-bold">Student Name:</label>
                    <select class="form-select w-50">
                        <option value="">Select student name</option>
                        <option value="">Saaran</option>
                        <option value="">Gokul</option>
                    </select>
                </div>
                
                <!-- Row 2: Label and From Date Input -->
                <div class="d-flex justify-content-center  gap-2 mb-2">
                    <label class="fw-bold">From Date:</label>
                    <input type="date" class="form-control w-50">
                </div>

                <!-- Row 3: Label and To Date Input -->
                <div class="d-flex justify-content-center  gap-2">
                    <label class="fw-bold">To Date:</label>
                    <input type="date" class="form-control w-50">
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="my-5">Pending Tasks</h4>
                <table class="table table-striped table-bordered border-secondary table-hover  my-5 w-100">
                    <thead class="rounded ">
                        <tr class="bg-success">
                            <th class="p-2 bg-info  text-center">Name</th>
                            <th class="p-2 bg-info text-center">Task Title</th>
                            <th class="p-2 bg-info text-center">Start Date</th>
                            <th class="p-2 bg-info text-center">End Date</th>
                            <th class="p-2 bg-info text-center">Task Description</th>
                            <th class="p-2 bg-info text-center">Task Status</th>
                        </tr>
                    </thead>
                    <tbody  >
                        <tr>
                            <td class="p-2 text-center">gokul</td>
                            <td class="p-2 text-center">angular form</td>
                            <td class="p-2 text-center">6-1-25</td>
                            <td class="p-2 text-center">10-1-25</td>
                            <td class="p-2 text-center">create basic form</td>
                            <td class="p-2 text-center">partially finished</td>  
                            
                        </tr>
                        <tr>
                            <td class="p-2 text-center">saran</td>
                            <td class="p-2 text-center">react-form</td>
                            <td class="p-2 text-center">16-1-25</td>
                            <td class="p-2 text-center">18-1-25</td>
                            <td class="p-2 text-center">create basic form</td>
                            <td class="p-2 text-center">partially finished</td>  
                            
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>