
<div class="container-fluid bg-info" id="top">
    <div class="row align-items-center">
            <p class="mx-5">Welcome to Femtosoft Technology</p>
            <nav class="navbar">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>