<div class="container-fluid">
    <div class="card" id="header">
        <div class="d-flex gap-5 justify-content-center list-unstyled m-3">
            <img src="internweb/website/src/asssets/a.jpeg" width="50px" height="50px" />
            <a href="registerintern">
                <button class="btn btn-warning rounded-pill text-white">RegisterIntern</button>
            </a>
            <a href="interndetails">
                <button class="btn btn-warning rounded-pill text-white">InternDetails</button>
            </a>
            <a href="assigntask">
                <button class="btn btn-warning rounded-pill text-white">AssignTask</button>
            </a>
            <a href="pendingtask">
                <button class="btn btn-warning rounded-pill text-white">PendingTask</button>
            </a>
            <a href="taskreport">
                <button class="btn btn-warning rounded-pill text-white">TaskReport</button>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
        <div class="col bg-info p-4 m-3 rounded">
        <h4>Assign Task</h4>
        <select class="form-select">
          <option value="">Select Name</option>
          <option value="USA">USA</option>
          <option value="UK">UK</option>
        </select>
        <input class="col-12 mt-2 rounded" type="text" placeholder="Select Name">
        <input class="col-12 mt-2 rounded" type="text" placeholder="ID">
        <input class="col-12 mt-2 rounded" type="text" placeholder="Task Title">
        <input class="col-5 mt-2 rounded" type="date" placeholder="Select Name">
        <input class="col-5 offset-lg-2 rounded" type="date" placeholder="Select Name">
        <textarea class="col-12 mt-2 rounded"></textarea>
        <input type="submit" class="col-4 rounded mt-2" value="Update">
        </div>
        </div>

        <div class="col-5">
            <h4>Assigned Tasks</h4>
            <label>nae</label>
            <input type="text">
        </div>
    </div>

</div>