<div class="row">
    <p class="m-2">Welcome</p>
</div>

<div class="d-flex justify-content-between align-items-center gap-2 p-3">
    <img class="img-fluid rounded" src="/assets/images/femtologo.png" alt="Femto" style="max-height: 80px; width: auto;"> 

    <div class="d-flex align-items-center gap-2">
        <i class="bi bi-envelope"></i> 
        <a href="mailto:hr@femtosoft.in">hr&#64;femtosoft.in</a>
    </div>
    <div class="d-flex align-items-center gap-2">
        <i class="bi bi-telephone"></i> 
        <a href="tel:9884668421">+91 9884668421</a>
    </div>
    <div class="d-flex align-items-center gap-2">
        <i class="bi bi-geo-alt"></i> 
        <span>No. 17, Griffith Main Road, Essa Pallavaram, Chennai - 43</span>
    </div>
</div>

<div class="row">
    
    <div class="d-flex align-items-center gap-2">
        <a href="#">Home</a>
    </div>
    <div class="d-flex align-items-center gap-2">
        <a href="#">CONTACT</a>
    </div>
    <div class="d-flex align-items-center gap-2">
        <a href="#">Service</a>
    </div>
</div>
