<div class="container-fluid bg-info" id="top">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start fw-bold text-white py-2">
            <p class="m-0">Welcome to Femtosoft Technology</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end py-2" id="icons">
            <a href="#" class="fw-bold"><i class="bi bi-facebook p-1"style="color: #1877F2;"></i></a>
            <a href="#" class="fw-bold"><i class="bi bi-twitter-x text-white px-2"style="color: #000000;"></i></a>
            <a href="#" class="fw-bold"><i class="bi bi-linkedin px-2"style="color: #0A66C2;"></i></a>
            <a href="#" class="fw-bold"><i class="bi bi-instagram px-2"style="color: #E1306C;"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid" id="middle">
    <div class="row align-items-center justify-content-between py-3 px-3 flex-wrap">
        <div class="col-12 col-md-auto text-center text-md-start">
            <img class="img-fluid rounded" src="/assets/images/femtologo.png" alt="Femto" style="max-height: 80px; width: auto;">
        </div>

        <div class="col-12 col-md-auto text-center text-md-start d-flex align-items-center gap-2">
            <i class="bi bi-envelope"></i>
            <a href="mailto:hr@femtosoft.in" class="text-dark text-decoration-none fw-bold">hr&#64;femtosoft.in</a>
        </div>

        <div class="col-12 col-md-auto text-center text-md-start d-flex align-items-center gap-2">
            <i class="bi bi-telephone"></i>
            <a href="tel:9884668421" class="text-dark text-decoration-none fw-bold">+91 9884668421</a>
        </div>

        <div class="col-12 col-md-auto text-center text-md-start d-flex align-items-center gap-2">
            <i class="bi bi-geo-alt"></i>
            <span class="text-dark fw-bold">No. 17, Griffith Main 
                Road, Essa Pallavaram, Chennai - 43</span>
        </div>
    </div>
</div>

<div class="container-fluid"id='nava'>
    <div class="row">
        <div class="col-12">
            <nav class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center gap-3 px-4 bg-light border rounded shadow">
                <a href="#" class="text-decoration-none fw-bold">Home</a>
                <a href="#" class="text-decoration-none fw-bold">Python Fullstack</a>
                <a href="#" class="text-decoration-none fw-bold">Java Fullstack</a>
                <a href="#" class="text-decoration-none fw-bold">Data Science</a>
                <a href="#" class="text-decoration-none fw-bold">About Us</a>
            </nav>
        </div>
    </div>
</div>
